{
  "extends": "react-app",
    "rules": {
      "semi": 1,
      "space-in-parens": 1,
      "object-curly-spacing": 1
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "overrides": [
      {
        "files": ["bin/*.js", "lib/*.js"],
        "excludedFiles": "*.chunk.js",
        "rules": {
          "quotes": ["error", "single"]
        }
      }
    ]
}